.heroBgImage {
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.heroBgOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
  z-index: 1;
}

.heroBg > * {
  position: relative;
  z-index: 2;
}
