.heroBg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
      url('/images/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }